{% macro translations_for(article) %}
  {% if article.translations %}
    <ul class="translations" role="group">
      <li role="button" aria-current="true">{{ article.lang }}</li>
      {% for translation in article.translations %}
        <li role="button"><a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}">{{ translation.lang }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
  {% if entry.translations %}
    {% for translation in entry.translations %}
      <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
    {% endfor %}
  {% endif %}
{% endmacro %}
