{% extends "page.html" %}

{% block content %}
  <header>
    <h2>{{ page.title }}</h2>
  </header>

  {{ page.content }}

  {% set content_pages = pages|selectattr('contents') %}
  <ol>
  {% for p in content_pages %}
    {% if p.lang == page.lang %}
      <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% else %}
      {% for t in p.translations %}
        {% if t.lang == page.lang %}
          <li><a href="{{ SITEURL }}/{{ t.url }}">{{ t.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ol>

  {% if page.modified %}
    <footer>
      <p>
        Last updated: {{ page.locale_modified }}
      </p>
    </footer>
  {% endif %}
{% endblock %}
